Config { font = "xft:Manjari:weight=bold:pixelsize=15:antialias=true:hinting=true"
       , additionalFonts = ["xft:Mononoki Nerd Font:pixelsize=15:antialias=true:hinting=true"]
       , borderColor = "#0a1a2a"
       , border = TopB
       , bgColor = "#0a1a2a"
       , fgColor = "white"
       , alpha = 255
       , position = Top
       , textOffset = 15
       , iconOffset = 9
       , lowerOnStart = True
       , pickBroadest = False
       , persistent = True
       , hideOnStart = False
       , iconRoot = "/home/devarsh/.xmonad/xpm"
       , allDesktops = True
       , overrideRedirect = True
       , commands = [   Run Network "eth0" ["-L","0","-H","32",
                                          "--normal","green","--high","red"] 10
                      , Run Network "wlxd03745c4b5c1" ["-L","0","-H","32",
                                          "--normal","green","--high","red"] 10
                      , Run Cpu ["-L","3","-H","50",
                                 "--normal","green","--high","red"] 10
                      , Run Memory ["-t","Mem: <usedratio>%"] 10
                      , Run Swap [] 10
                      , Run Com "uname" ["-s","-r"] "" 36000
                      -- Date and Time
                      , Run Date "<fn=1>\xf133</fn>  %a %B %d  %I : %M %p" "date" 10
                       -- Script that dynamically adjusts xmobar padding depending on number of trayer icons.
                      , Run Com "/home/devarsh/.config/xmobar/trayer-padding-icon.sh" [] "trayerpad" 10 
                    ]
       , sepChar = "%"
       , alignSep = "}{"
       , template = " <icon=Xmonad_Logo.xpm/> }{ %date%   | %trayerpad%"
       }

